/* ---------- Especificações Gerais ----------- */

:root {
    --color-primary: #fb0002;
    --color-segundary: #160f29;
    --color-light: #fff;
    --color-light-2: #D4D4D8;
    --color-black: #000;
    --font-tittle: 'Rubik Mono One', sans-serif;
    --font-tittle-2: 'Major Mono Display', monospace;
    --font-p: 'Ubuntu Mono', monospace;
}

/* ::-webkit-scrollbar {
    display: none;
} */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;
}

.padding-zero {
    padding: 0;
}

.btn-outline-info {
    --bs-btn-color: var(--color-segundary);
    --bs-btn-border-color: var(--color-segundary);
    --bs-btn-hover-color: var(--color-light-2);
    --bs-btn-hover-bg: rgba(0, 0, 0, 0);
    --bs-btn-hover-border-color: var(--color-segundary);
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: var(--color-light-2);
    --bs-btn-active-bg: var(--color-segundary);
    --bs-btn-active-border-color: var(--color-segundary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-segundary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color-segundary);
    --bs-gradient: none;
}

/* ---------- Hero Section ----------- */
.navbar {
    text-transform: capitalize;
    font-size: 1.2rem;
    width: 100%;
    font-family: var(--font-p);
    background-color: #07050e44;
    backdrop-filter: blur(2rem);
}

.navbar-nav li {
    margin: 0 1rem;
}

.nav-link:hover {
    color: var(--color-light);
}

.nav-item a {
    color: var(--color-light) !important;
}


.navbar .dropdown-menu {
    color: var(--color-light) !important;
    background-color: #160f294b;
}

.dropdown-item:hover {
    background-color: #160f29ad;
}

.hero {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-family: var(--font-tittle);
    font-size: 5.5rem;
    margin: 5rem 0;
}

p {
    font-family: var(--font-p);
    font-size: 2rem;
    display: block;
}

.hero-info {
    position: relative;
    top: 13rem;
}


.btn {
    font-family: var(--font-p);
    font-size: 1.75rem;
    padding: 0.5rem 4rem;
    border: none;
    border-radius: 5rem;
    color: var(--color-light-2);
    text-align: center !important;
}

.btn:hover {
    color: var(--color-light);
    font-weight: bolder;
    font-size: 2.3rem;
}

.hero-icon {
    font-size: 1.75rem;
    display: block;
    float: left;
    width: 100%;
    position: relative;
    color: var(--color-light-2);
    top: 12rem;
    margin-top: 1.5rem;
    animation: bounce 2s ease infinite;
}

.hero-icon:hover {
    color: var(--color-light);
    font-size: 2rem;
    font-weight: bolder;
}


/* ---------- Sobre ----------- */

.sobre {
    background-color: var(--color-segundary);
    min-height: 100vh;
}

.sobre-txt {
    color: var(--color-light);
    font-size: 2.5rem;
    line-height: 3rem;
}

.sobre-p {
    font-style: italic;
    color: #f0c3c3;
}

.py-5 {
    border-radius: 10rem;
}

.bg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.289), #0000);

}

.bg2 {
    background-image: linear-gradient(to right, #0000, rgba(0, 0, 0, 0.289));
}

h6 {
    font-family: var(--font-tittle-2);
    font-size: 1.8rem;
    background-image: linear-gradient(to right, #0000, rgba(0, 0, 0, 0.270), #0000);
}



/*----------------------------------Galeria--------------------------------------*/

.gallery {
    min-height: 110vh;
    background-color: var(--color-segundary);
}

.h2 {
    color: var(--color-light);
    font-family: var(--font-tittle-2);
    font-size: 3.5rem;
}

/*----------------------Especificações----------------------*/
.specs {
    min-height: 100vh;
    font-size: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.card-img-bottom {
    max-height: 30rem;
}

h3 {
    font-family: var(--font-tittle-2);
}

.card{
    color: var(--color-light);
    max-width: 71rem;
    background-color: var(--color-segundary);

}

.c {
    min-height: 60rem;
}



/*----------------Robocup----------------*/

.robocup {
    width: 100%;
    margin-top: 1rem;
    background-color: var(--color-black);
}

.robocup-img {
    width: 50%;
}

.robocup-txt {
    margin: 1rem;
    font-size: 16px;
    color: var(--color-light);
}

.grupo {
    width: 100%;
}

.figure {
    border: solid var(--color-black) 1px;
}

.img-gp {
    width: 100%;
    padding: 1rem;
    height: 60%;

}

/* .user{
    
} */

/* ------------------- Configurações gerais ---------------------- */

@media(max-width: 768px) {
    .nav-link {
        text-align: center;
    }

    .hero-info {
        position: relative;
        top: 7rem !important;
    }

    .hero-icon {
        position: relative;
        top: 6rem !important;
    }
}

@media (min-width: 769px) and (max-width: 1023px) and (orientation: landscape) {
    .hero-info {
        position: relative;
        top: 2rem !important;
    }

    .hero-icon {
        position: relative;
        top: 2rem !important;
    }
}

@keyframes bounce {

    0%,
    25%,
    55%,
    75%,
    100% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(-1.9rem);
    }

    65% {
        transform: translateY(-1rem);
    }

    85% {
        transform: translateY(-0.5rem);
    }
}

.line {
    width: 30rem;
    height: 0.2rem;
    background-color: var(--color-light-2);
    margin: 10px auto;
    border-radius: 5px;
    transition-delay: 2s;
    transition: 5s;
}

.bg-container-1 {
    background-image: linear-gradient(#310000ad, #fb00008a, #fb0000b7, #5b01017a), url(../images/vishnu-mohanan-pfR18JNEMv8-unsplash.jpg);
}

.bg-container-2 {
    background-image: linear-gradient(var(--color-segundary), #160f29b2), url(../images/laura-ockel-UzNVV_u6qkc-unsplash.jpg);
}